@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data originally pulled from <a href="https://swapi.dev">https://swapi.dev.</a></p>

<p>This program was developed by Caleb Baker. Only used to show case skills and abilities.</p>

<p>System built with ASP.NET MVC, EF Core, Sql Server, Web API(rest api).</p>
